section.section.hero
    .container.hero__container
        .hero__content
            h1.hero__title Easiest way to#[br]mining your bitcoin
            p.hero__text Autocrypt is the place to buy and sell Bitcoin, Ethereum and various kinds of Digital Assets in Indonesia. Then, book your weekly, bi-weekly or one-off clean online with imminent confirmation
            a.btn.btn_green(href='#') Get Started
        .hero__img-wrapper
            img.hero__img(src='./images/hero-img.png' alt='phone')