section.section.pricing
    .container
        h2.pricing__title Paid plan starts with a 7-day free trial, No credit card required
        .pricing__plan.pricing-plan
            .pricing-plan__tabs
                button.pricing-plan__tab.active(data-period="month") MONTHLY
                button.pricing-plan__tab(data-period="year") YEARLY - 2 MONTH FREE
            .pricing-plan__list
                .pricing-plan__item
                    h3.pricing-plan__title Starter
                    .pricing-plan__price $10
                    span.pricing-plan__period Per Month
                    ul.pricing-plan__benefits
                        li.pricing-plan__benefit 1 Pixel ID*
                        li.pricing-plan__benefit URL
                        li.pricing-plan__benefit Up to 200 shortened links / month
                    a.pricing-plan__btn.btn.btn_green(href='#') START FREE TRIAL
                .pricing-plan__item
                    h3.pricing-plan__title Professional
                    .pricing-plan__price $29
                    span.pricing-plan__period Per Month
                    ul.pricing-plan__benefits
                        li.pricing-plan__benefit 5 Pixels ID*
                        li.pricing-plan__benefit 1 Custom URL
                        li.pricing-plan__benefit Up to 1,000 shortened links / month
                        li.pricing-plan__benefit 5 Team Member
                    a.pricing-plan__btn.btn.btn_green(href='#') START FREE TRIAL
                .pricing-plan__item
                    h3.pricing-plan__title Business
                    .pricing-plan__price $49
                    span.pricing-plan__period Per Month
                    ul.pricing-plan__benefits
                        li.pricing-plan__benefit Unlimited Pixels ID
                        li.pricing-plan__benefit Unlimited Custom URL
                        li.pricing-plan__benefit Unlimited shortened links / month
                        li.pricing-plan__benefit Unlimited Member
                    a.pricing-plan__btn.btn.btn_green(href='#') START FREE TRIAL